body {
  background-color: black;
  user-select: none;
  color: white;
  font-family: 'Press Start 2P', monospace;
}

#map-container {
  margin: 32px;
  display: inline-block; /* creates fit-to-content effect */
  background-color: black;
  /* border: 3px solid black; /* should match tile border */
  will-change: transform; /* fixes Chrome subpixel rendering bug */
}

#map-container .row {
  display: block;
  white-space: nowrap;
}

.tile {
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid black;
  cursor: pointer;
  /* match this to tile size, cover or fill would jump when the border changes on hover */
  background-size: 128px;
}

.tile:hover {
  border: 10px solid rgb(129, 15, 15);
  background-position: -7px -7px; /* diff to regular borders */
}

.tile.grass {
  background-image: url('assets/grass.png');
}

.tile.water {
  background-image: url('assets/water.png');
}

.tile.swamp {
  background-image: url('assets/swamp.png');
}

.tile.dam {
  background-image: url('assets/dam.png');
}

.tile.highground {
  background-image: url('assets/highground.png');
}

.tile.woods {
  background-image: url('assets/woods.png');
}

/* anim lengths should match js FLOOD_ANIM_DURATION */
.tile.flood-grass {
  animation: anim_floodGrass 1.3s forwards;
}
.tile.flood-swamp {
  animation: anim_floodSwamp 1.3s forwards;
}
.tile.flood-dam {
  animation: anim_floodDam 1.3s forwards;
}

@keyframes anim_floodGrass {
  from {
    background-image: url('assets/grass.png');
  }

  50% {
    background-image: url('assets/water.png');
    transform: scale(1.1);
  }

  to {
    background-image: url('assets/water.png');
  }
}

@keyframes anim_floodSwamp {
  from {
    background-image: url('assets/swamp.png');
  }

  50% {
    background-image: url('assets/water.png');
    transform: scale(1.1);
  }

  to {
    background-image: url('assets/water.png');
  }
}

@keyframes anim_floodDam {
  from {
    background-image: url('assets/dam.png');
  }

  50% {
    background-image: url('assets/grass.png');
    transform: scale(1.1);
  }

  to {
    background-image: url('assets/grass.png');
  }
}

.round-counter {
  position: absolute;
  text-align: center;
  color: white;
  pointer-events: none; /* allow tile underneath to be hovered and selected */
}

.round-counter.failing {
  color: red;
}

.placed-worker {
  position: absolute;
  background-image: url('assets/beaver.png');
  background-size: cover;
  pointer-events: none; /* allow tile underneath to be hovered and selected */
}

/*
/////////////////////  UI toolbar  /////////////////////
*/

#toolbar {
  position: relative;
}

#icons-container {
  text-align: center;
}

#icons-container .section {
  display: inline-block;
  width: 250px;
  margin-top: 25px;
}

#icons-container .section > div {
  display: inline-block;
}

#icons-container .section .icon {
  width: 64px;
  height: 64px;
  background-size: cover;
}

#icons-container .section .icon.beaver {
  background-image: url('assets/beaver.png');
}

#icons-container .section .icon.wood {
  background-image: url('assets/wood.png');
}

#icons-container .section .icon.clock {
  background-image: url('assets/clock.png');
}

#icons-container .section .counter {
  font-size: 42px;
  vertical-align: super;
}

#icons-container .section .counter.error {
  color: red;
}

.button {
  width: 300px;
  height: 50px;
  margin: 0 20px;
  padding: 20px;
  border: 8px solid white;

  font-size: 30px;
  text-align: center;
  line-height: 50px;

  cursor: pointer;
}

.button:not(.busy):hover {
  background-color: darkslategray;
}

.button.busy {
  cursor: not-allowed;
}

#end-turn-button {
  position: absolute;
  top: 0;
  /* left position set from js */
}

#end-turn-button .busy-icon {
  width: 64px;
  height: 64px;
  background-image: url('assets/waiting.png');
  background-size: cover;
  margin: -9px;
  margin-left: 40%;
}

#end-turn-button:not(.busy) .busy-icon {
  display: none;
}

#end-turn-button.busy .label {
  display: none;
}
