body {
  background-color: #eee;
  user-select: none;
}

.button {
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;

  font-size: 30px;
  text-align: center;
  line-height: 50px;

  cursor: pointer;
}

.button:hover {
  background-color: darkslategray;
}

#end-turn-button {
  position: absolute;
  right: 0;
}

#map-container {
  margin: 32px;
  display: inline-block; /* creates fit-to-content effect */
  background-color: black;
  border: 3px solid black; /* should match tile border */
  will-change: transform; /* fixes Chrome subpixel rendering bug */
}

#map-container .row {
  display: block;
  white-space: nowrap;
}

.tile {
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid black;
  cursor: pointer;
  /* match this to tile size, cover or fill would jump when the border changes on hover */
  background-size: 128px;
}

.tile:hover {
  border: 10px solid rgb(129, 15, 15);
  background-position: -7px -7px; /* diff to regular borders */
}

.tile.grass {
  background-image: url('assets/grass.png');
}

.tile.water {
  background-image: url('assets/water.png');
}

.tile.swamp {
  background-image: url('assets/swamp.png');
}

.tile.dam {
  background-image: url('assets/dam.png');
}

.tile.highground {
  background-image: url('assets/highground.png');
}

.round-counter {
  position: absolute;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', monospace;
}

.round-counter.failing {
  color: red;
}
